<article id="post_show_content" class="skinny_wrapper wrapper_padding">
		<header>
			<p class="data"><%= @project.created_at.strftime('%A, %B %d') %></p>
			<h1><%= @project.title %></h1>
			<hr/>
		</header>
		<section class="content">
			<%= markdown @project.description %>

			<div class="button_wrapper">
				<a href="<%= @project.link %>" class="project_button" target="_blank">Conheça <%= @project.title %>
				</a>
			</div>
		</section>
		
		<hr />	

</article>